.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.inputs input {
  outline: none;
  font-size: 1rem;
  padding: 8px;
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  width: 300px;
}

.sort {
  padding-left: 4rem;
}

.sort select {
  padding: 0.5rem 1rem;
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  font-weight: bold;
}

.sort select option {
  color: var(--dark-blue);
}

.products h2 {
  color: var(--dark-blue);
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products h1 {
  text-align: center;
}

/* for Smart Phones  */
@media screen and (max-width: 480px) {
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
  }
  .sort {
    padding-left: 0;
  }
}
