.item {
  margin: 1rem 0;
  background-color: var(--light-blue);
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .image {
  width: 20%;
}

.item .image img {
  width: 80%;
}

.item header {
  width: 60%;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.75rem;
  text-align: start;
  width: 70%;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.itemPrice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.actions button {
  background-color: transparent;
  border: 2px solid var(--dark-blue);
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: var(--dark-blue);
  font-size: 1.2rem;
  font-weight: bolder;
}

.actions button:hover,
.actions button:active {
  background-color: #4b4b4b;
  color: white;
}
