.button {
  background-color: transparent;
  border-color: #1ad1b9;
  color: #1ad1b9;
}

.button:hover,
.button:active {
  color: var(--dark-blue);
  background-color: var(--light-blue);
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #1ad1b9;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #1d1d1d;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* for Smart Phones  */
@media screen and (max-width: 480px) {
  .button span:first-of-type {
    display: none;
  }
}
